.project {
  margin-top: 10px;
  margin-bottom: 30px;
}
.pj-title {
  font-size: 24px;
  border-top: 4px solid #dddddd;
  margin-top: 20px;
  padding-top: 5px;
  font-family: "Montserrat";
}
.pj-body {
  margin-top: 10px;
}
.pj-body a {
  color: #2a72e2;
  font-weight: bold;
}
.pj-body a:hover {
  color: #679df2;
}
