@import url(blogpost.css);
@import url(project.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto+Slab:300,700);
body {
  font-family: "Roboto Slab", "Clarendon", "Superclarendon";
  margin: 0px;
}
h1, h2, h3, h4, h5, h6, #banner, #links {
  font-family: "Montserrat";
}
a {
  text-decoration: none;
  color: inherit;
}
.inner {
  margin: auto;
  max-width: 700px;
}
#banner {
  text-align: center;
  padding: 80px;
  font-weight: bold;
  font-size: 70px;
}
#links, #footer {
  color: #ffffff;
}
#links .inner {
  background: #2a72e2;
}
#links .current {
  border-collapse: collapse;
}
#links table, tr, td, th, thead, tbody {
  border-collapse: collapse;
  border: none;
  margin: 0;
  cursor: pointer;
}
#links td {
  display: inline-block;
  padding: 30px 20px 30px 20px;
}
#links td:hover {
  background: #528be4;
}
#body .inner {
  background: #eeeeee;
}
#body .inner .inner-2 {
  padding: 20px;
  line-height: 1.6;
}
#footer .inner {
  background: #2a72e2;
}
#footer .inner .inner-2 {
  padding: 20px;
}
.center {
  text-align: center;
  margin: auto;
}
