body {
	margin: 0px;
}
a {
	text-decoration: none;
	color: inherit;
}
header {
	font-family: "Montserrat", "Open Sans", sans-serif;
	font-weight: bold;
	font-size: 10vw;
	text-align: center;
	padding: 5vw 0px;
	background: #333;
	color: white;
}
section {
	padding: 2%;
	max-width: 800px;
	width: 96%;
	margin: 0px auto;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
}
div {
	margin-bottom: 10px;
	padding: 1.5%;
	text-align: center;
	display: inline-block;
	width: 29%;
	background: white;
	color: #333;
	font-size: 18px;
}
div:hover {
	color: white;
	background: #333;
}